@import "fonts.css";



.lol {
    color:blue;
    background-image: url(../assets/images/crash.jpg);
    background-size: cover;
    height: 200px;
    width: 300px;
    margin: 0 auto;
    font-family: "Roboto";
}
